@font-face {
  font-family: "mc";
  src: url("../font/mc.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mc";
  src: url("../font/mcb.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "mc";
  src: url("../font/mcbi.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "mc";
  src: url("../font/mci.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

html {
  overflow: hidden;
  background: linear-gradient(
    rgba(0, 0, 0, 0.745),
    rgba(0, 0, 0, 0.745)
  ),
  url("../img/dirt.png");
  background-size: 64px;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  user-select: none;
}

body {
  font-family: "mc", Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  text-shadow: .1em .1em #3F3F3F;

  display: flex;
  justify-content: center;

  height: 100vh;
  margin: 0;
}

a {
  color: #5555FF;
  text-shadow: .1em .1em #15153F;
}

#menu {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
}

#menuTitle {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 8em;
}

#menuTitle.normal {
  margin: 1em 1em 2em;
}

#menuTitle.narrow {
  min-height: 1em;
  margin: 0.5em 1em 0.25em;
}

#menuTitle p {
  margin: 0 0 0.25em;
}

#mainInputs {
  min-width: 31em;
  max-width: 31em;
}

#inputContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: visible;
  width: 200%;
  height: 100%;
}

#inputContainer.scrollable {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  box-shadow: inset 0 0 0.75em #000;
  overflow-y: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 0.55em 0;
}

.spacer {
  height: 2.5em;
}

.optionBase {
  position: relative;
  height: 36px;
  background-color: #2B2B2B;
  outline: 2px solid black;
  box-sizing: border-box;
  white-space: nowrap;
}

.optionBase input[type=checkbox], .optionBase select {
  display: none;
}

.width0 {
  width: 40px;
}

.width1 {
  width: 144px;
}

.width2 {
  width: 296px;
}

.width3 {
  width: 396px;
}

.width4 {
  width: 100%;
}

.centered {
  margin: 0 auto;
}

.label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  height: 100%;
}

.disabled {
  color: #A0A0A0;
  text-shadow: .1em .1em #282828;
  pointer-events: none;
}

.text {
  text-align: center;
}

:where(.button, .toggle):not(.disabled) {
  background-color: #6E6E6E !important;
  border-style: solid;
  border-color: #AAA #555555 #555555 #AAA;
  border-width: 2px 2px 4px 2px;
  outline: 2px solid black;
}

.slider input[type=range] {
  position: absolute;
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  margin: 0;
  background: transparent;
}

.slider.disabled input[type=range]::-moz-range-thumb {
  opacity: 0;
}

.slider input[type=range]::-moz-range-thumb {
  background-color: #6E6E6E;
  border-style: solid;
  border-color: #AAA #555555 #555555 #AAA;
  border-width: 2px 2px 4px 2px;
  outline: 2px solid black;
  height: 100%;
  width: 1em;
  box-sizing: border-box;
  border-radius: 0;
}

.slider.disabled input[type=range]::-webkit-slider-thumb {
  opacity: 0;
}

.slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #6E6E6E;
  border-style: solid;
  border-color: #AAA #555555 #555555 #AAA;
  border-width: 2px 2px 4px 2px;
  outline: 2px solid black;
  height: 100%;
  width: 1em;
  margin: 0;
  box-sizing: border-box;
}

/* i fucking hate css */

.slider input[type=range]:hover::-moz-range-thumb {
  outline-color: #FFF;
}

.slider input[type=range]:hover::-webkit-slider-thumb {
  outline-color: #FFF;
}

.button:hover, .toggle:hover {
  outline-color: #FFF;
}

.slider input[type=range]::-webkit-slider-runnable-track {
  height: 100%;
}

.slider input[type=range]::focus {
  outline: none;
}